tmp_evaluation_results*/
tmp_model_outputs*/
figures*/
logs/

pan_prep_data/
therapeutic_target_data/
tc-hard/
gene_perturb_task/
__pycache__/
wandb/
unpublished_code/
PLM/best_models/
PLM/datasets/
PLM/logs/
PLM/progen2-checkpoints

*.sh
*.pdf
*.h5
*.pt
